@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #fdfdfd;
  --foreground: #333333;
  --color-accent: #1db954;
  --color-test-1: #3a3f48;
  --color-test-2: #8a7b7b;
  --color-test-3: #ece9e3;
  --color-test-4: #e9c6a5;
  --color-test-5: #ed814f;
}

@theme {
  --color-off-white: #fdfdfd;
  --color-off-black: #333333;
  --color-accent: #ed814f;
  --font-body: var(--font-roboto);
  --font-heading: var(--font-poppins);
  --text-small: 12px;
  --text-medium: 14px;
  --text-regular: 16px;
  --text-large: 22px;
  --text-heading-small: 30px;
  --text-heading-medium: 38px;
  --text-heading-large: 48px;
  --text-heading-landing-small: 48px;
  --text-heading-landing-medium: 74px;
  --text-heading-landing-large: 90px;
  --spacing-15: 15px;
  --spacing-30: 30px;
  --spacing-60: 60px;
  --spacing-90: 90px;
  --spacing-120: 120px;
  --spacing-150: 150px;
}

.body-styles {
  @apply font-body text-regular
leading-loose bg-black relative tracking-wide font-light min-h-screen flex flex-col;
}

.width-size {
  @apply max-w-[1440px] px-30 md:px-60 mx-auto;
}

.heading {
  @apply font-heading font-black text-[#111] uppercase text-center leading-[1] tracking-tight;
}

.heading p {
  font-size: clamp(2.5rem, -1.3032rem + 11.1702vw, 8.75rem);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: -10;
}

.text-container p {
  position: absolute;
  -webkit-text-stroke-color: var(--color-accent);
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  color: transparent;
  margin: 0;
}

.text-container p.text-white {
  position: relative; /* so it sits above absolute siblings */
  color: white !important;
  -webkit-text-stroke-color: white;
  z-index: 30; /* make sure it's on top */
}
