@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #fafafa;
  --foreground: #000000;
  --secondary-grey: #efefef;
  --color-accent: #fe7d28;
}

@theme {
  --color-light: #fafafa;
  --color-dark: #000000;
  --color-secondary-grey: #efefef;
  --color-accent: #fe7d28;
  --font-body: var(--font-montserrat);
  --font-heading: var(--font-bebas);
  --text-small: 12px;
  --text-medium: 14px;
  --text-regular: 16px;
  --text-large: 22px;
  --text-heading-extrasmall: 36px;
  --text-heading-small: 48px;
  --text-heading-medium: 65px;
  --text-heading-large: 90px;
  --text-heading-landing-extrasmall: 60px;
  --text-heading-landing-small: 75px;
  --text-heading-landing-medium: 90px;
  --text-heading-landing-large: 120px;
  --spacing-15: 15px;
  --spacing-30: 30px;
  --spacing-60: 60px;
  --spacing-90: 90px;
  --spacing-120: 120px;
  --spacing-150: 150px;
  --breakpoint-projectOverview-smallScreen: 421px;
  --breakpoint-projectOverview-mediumScreen: 505px;
  --breakpoint-projectOverview-largeScreen: 1070px;
  --breakpoint-projectOverview-extraLargeScreen: 1124px;
  --breakpoint-projectOverview-extraExtraLargeScreen: 1550px;
}

.body-styles {
  @apply font-body text-regular
leading-loose bg-light text-dark relative tracking-wide font-light min-h-screen flex flex-col;
}

.width-size {
  @apply max-w-[1660px] px-30 md:px-60 mx-auto;
}

.section-styles {
  @apply pt-90 md:pt-120  pb-90 md:pb-120;
}

.hero-heading {
  @apply text-heading-landing-extrasmall sm:text-heading-landing-small md:text-heading-landing-medium lg:text-heading-landing-large font-heading uppercase leading-[1];
}

.section-heading {
  @apply text-heading-small sm:text-heading-medium md:text-heading-large font-heading uppercase leading-[1] mb-60 md:mb-90;
}

/* .service-heading {
  @apply text-heading-extrasmall sm:text-heading-small md:text-heading-medium font-heading uppercase leading-[1];
} */

.standard-heading {
  @apply text-heading-extrasmall sm:text-heading-small   uppercase leading-[1];
}

.strong-paragraph {
  @apply font-normal  uppercase  lg:text-large;
}

.grid-standard {
  @apply grid grid-cols-1 gap-60 lg:grid-cols-2 lg:gap-120;
}

.contact-form-heading {
  @apply text-large lg:text-heading-extrasmall  uppercase leading-[1];
}

.contact-form-spacing {
  @apply flex flex-col gap-15;
}

.contact-form-input {
  @apply border-b border-secondary-grey bg-transparent focus:outline-none;
  transition: border-color 0.2s ease;
}

.contact-form-input:focus {
  border-color: var(--color-accent);
}

/* REVIEWS BANNER ANIMATION */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 30px));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 60s linear infinite;
}
