@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #fafafa;
  --foreground: #000000;
  --color-accent: #fe7d28;
}

@theme {
  --color-light: #fafafa;
  --color-dark: #000000;
  --color-accent: #fe7d28;
  --font-body: var(--font-montserrat);
  --font-heading: var(--font-bebas);
  --text-small: 12px;
  --text-medium: 14px;
  --text-regular: 16px;
  --text-large: 22px;
  --text-heading-small: 30px;
  --text-heading-medium: 38px;
  --text-heading-large: 48px;
  --text-heading-landing-extrasmall: 60px;
  --text-heading-landing-small: 75px;
  --text-heading-landing-medium: 90px;
  --text-heading-landing-large: 120px;
  --spacing-15: 15px;
  --spacing-30: 30px;
  --spacing-60: 60px;
  --spacing-90: 90px;
  --spacing-120: 120px;
  --spacing-150: 150px;
}

.body-styles {
  @apply font-body text-regular
leading-loose bg-light text-dark relative tracking-wide font-light min-h-screen flex flex-col;
}

.width-size {
  @apply max-w-[1660px] px-30 md:px-60 mx-auto;
}

.hero-heading {
  @apply text-heading-landing-extrasmall sm:text-heading-landing-small md:text-heading-landing-medium lg:text-heading-landing-large font-heading uppercase leading-[1];
}
